<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password | SentinelX</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="auth-body">

<div class="auth-wrapper">
<div class="auth-box">

<h2>Reset Password</h2>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="flash-box">
{% for msg in messages %}
<p>{{ msg }}</p>
{% endfor %}
</div>
{% endif %}
{% endwith %}

<form method="POST">

<div class="form-group">
<label>Username</label>
<input type="text" name="username" required>
</div>

<div class="form-group">
<label>New Password</label>
<input type="password" name="password" required>
</div>

<button type="submit" class="btn-primary">
Reset Password
</button>

</form>

</div>
</div>

</body>
</html>